<<<<<<< HEAD
    @import url('https://fonts.googleapis.com/css?family=Poppins');
    body {
        font-family: Poppins;
        color: rgb(165, 0, 16) !important;
    }
    
    form {
        color: rgb(34, 34, 34)
    }
    
    #errorPassword,
    #errorName,
    #errorPhone,
    #errorAddress,
    #errorLastName,
    #errorEmail {
        display: none;
    }
=======
@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: Poppins;
}

#errorPassword,
#errorName,
#errorPhone,
#errorAddress,
#errorLastName,
#errorEmail {
    display: none;
}
>>>>>>> b09fdc6a8d394bf257df6f23728ac4850aa25d79
