html {
  background:black;
  color:white;
  text-align: center;
  min-height: 100vh;
}

a {
  color:white;
  text-decoration: none;
}

header {
  padding:10px;
  background-image: url("sw-background.jpg");
}

#logo {
  width: auto;
  max-height:200px
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  margin: 0px 2px;
  border-top: 1px  solid rgba(255, 255, 255, 0.500);
  border-bottom: 1px  solid rgba(255, 255, 255, 0.500);
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  html {
    padding-bottom: 40px;
  }
  
  .nav li {
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
    border: 1px  solid rgba(255, 255, 255, 0.500);
  }

  .nav {
    border-bottom:1px solid rgba(255, 255, 255, 0.500);
    border-top:1px solid rgba(255, 255, 255, 0.500);
  }
}

.starships {
  list-style: none;
  margin:0 auto;
  padding:0;
}
.starships>li {
  background-color: rgb(24, 24, 24);
  color:rgb(199, 199, 199);
  max-width: 800px;
  margin:20px auto;
  padding:10px;
  text-align: left;
}
.ship {
  margin: 7px;
}

input[type=text]:focus {
  background-color: #484848;
  color: #edd700;
}

input[type=text] {
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  color: #aaa;
}

.title {
  color: #edd700;
    font-size: 25.6px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 25.2px;
    text-align: center;
    padding: 0 18px;
    margin-top: 14px;
    margin-bottom: 18px;
}

.nav-log {
  position:absolute;
  top:10px;
  right:10px;
  width:auto;
}

table {
  margin-left: auto;
  margin-right:auto;
  width:60%;
  color:rgb(206, 206, 206);
}

tbody{
  text-align: start;
}

td {
  padding:0 15px 0 15px;
}