$primary: #5265E1;
$secondary: #FA5959;

/*Ejercicio 1*/

$navbar-light-toggler-border-color:white;
$navbar-toggler-focus-width:0rem;

/*Import*/

@import '../node_modules/bootstrap/scss/bootstrap.scss'