@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: Poppins;
}


/* navbar */

.navbar {
    background-color: rgb(165, 0, 16) !important;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover {
    color: white;
}

.grocery-img {
    width: 60%;
    margin: 1rem auto;
}

.price {
    position: absolute;
    right: 0;
    margin-right: 1rem;
}


/*Ejercicio 10 estilos del Shop*/

#shopBody {
    background: url('../images/background-shop.png');
    background-position: center;
    background-size: cover;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: Poppins;
    margin: 0%;
    top: 0px
}

html,
body {
    margin: 0;
    height: 100%;
}

.card-body {
    border-width: 0px;
}

.card-footer {
    border-width: 0px;
}

.card-cap {
    background-color: rgb(236, 236, 236) !important;
}

.red-background,
.modal-body {
    background-color: rgb(165, 0, 16) !important;
}

.modal-header,
.modal-footer {
    background-color: rgb(206, 0, 21) !important;
    border: black;
}

button.close {
    opacity: 1;
}

.span {
    text-shadow: none!important;
}